:root {
    /* Github's light-mode code colors */
    --color-prettylights-syntax-comment: #6a737d;
    --color-prettylights-syntax-constant: #005cc5;
    --color-prettylights-syntax-entity: #6f42c1;
    --color-prettylights-syntax-storage-modifier-import: #24292e;
    --color-prettylights-syntax-entity-tag: #22863a;
    --color-prettylights-syntax-keyword: #d73a49;
    --color-prettylights-syntax-string: #032f62;
    --color-prettylights-syntax-variable: #e36209;
    --color-prettylights-syntax-brackethighlighter-unmatched: #b31d28;
    --color-prettylights-syntax-invalid-illegal-text: #fafbfc;
    --color-prettylights-syntax-invalid-illegal-bg: #b31d28;
    --color-prettylights-syntax-carriage-return-text: #fafbfc;
    --color-prettylights-syntax-carriage-return-bg: #d73a49;
    --color-prettylights-syntax-string-regexp: #22863a;
    --color-prettylights-syntax-markup-list: #735c0f;
    --color-prettylights-syntax-markup-heading: #005cc5;
    --color-prettylights-syntax-markup-italic: #24292e;
    --color-prettylights-syntax-markup-bold: #24292e;
    --color-prettylights-syntax-markup-deleted-text: #b31d28;
    --color-prettylights-syntax-markup-deleted-bg: #ffeef0;
    --color-prettylights-syntax-markup-inserted-text: #22863a;
    --color-prettylights-syntax-markup-inserted-bg: #f0fff4;
    --color-prettylights-syntax-markup-changed-text: #e36209;
    --color-prettylights-syntax-markup-changed-bg: #ffebda;
    --color-prettylights-syntax-markup-ignored-text: #f6f8fa;
    --color-prettylights-syntax-markup-ignored-bg: #005cc5;
    --color-prettylights-syntax-meta-diff-range: #6f42c1;
    --color-prettylights-syntax-brackethighlighter-angle: #586069;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #959da5;
    --color-prettylights-syntax-constant-other-reference-link: #032f62;
}

code.pseudocode {
    color: var(--nearly-nearly-black);
    line-height: 1.5em;
    margin: 1em 0;
    display: block;
    border-radius: 0;
}

.preview code.pseudocode {
    margin: 0;
}

.hl_type, a.type {
    color: var(--color-prettylights-syntax-entity);
}

.hl_member, a.member {
    color: var(--color-prettylights-syntax-entity-tag);
}

.hl_variant, a.variant {
    color: var(--color-prettylights-syntax-constant);
}

code dfn > a, code a.type, code a.member {
    text-decoration: inherit;
    font-weight: inherit;
}

.hl_kw {
    color: var(--color-prettylights-syntax-keyword);
}

.hl_bi {
    color: var(--color-prettylights-syntax-constant);
}

.hl_doccom {
    color: var(--color-prettylights-syntax-comment);
    display: inline-block;
    border-left: solid #00000020 2px;
    padding-left: 1rem;
    text-decoration: inherit;
}

.item_spacing:not(:first-child) {
    margin-top: 1em;
}