code {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    background: rgba(0, 0, 0, 0.05);
    padding: 0.2em;
    border-radius: 10%;
    word-break: break-word
}

footer>nav>ul {
    display: flex;
    gap: 1ch;
    padding: 0;
}

nav ul li {
    list-style: none;
}

footer {
    margin: 1em 0 0 0;
    border-top: 2px solid rgb(225, 225, 225);
    /* margin: 5em auto 0 auto; */
    padding: 0.5em 0;
    clear: right;
}

footer p {
    font-variant-numeric: oldstyle-nums;
}

footer .funder img {
  max-width: 9em;
}

footer .sponsor img {
  max-width: 4em;
}

main {
  flex: 1;
  margin-bottom: 2rem;
}

main nav ul li:has(> a) {
    list-style-type: none;
}

main nav ul li:has(> a):after {
    content: '→';
    margin-left: 0.5ch;
}

main nav ul li:has(> a[aria-disabled=true]):after {
    content: '→'
}

ul {
    padding-inline-start: 1.25em;
}

li {
    margin: 0.5em 0;
}

img {
    max-width: 100%;
}

h1 img {
  width: 32rem;
}

main table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0.5em;
  border-radius: 4px
}

main aside table {
  width: 100%
}

tbody {
  border-top: 1px solid var(--light-green);
  border-bottom: 1px solid var(--light-green);
}

td, th {
 font-size: 1rem;
 font-weight: normal;
 text-align: center;
 padding: 0.5em;
 vertical-align: middle;
}

figure {
  margin: 1.5em 0;
}
