body, .normal_text {
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    font-size: 1.1rem;
}

a {
    color: rgb(0, 155, 42);
    transition: 100ms all;
}

a:hover {
    color: rgb(0, 186, 50)
}

strong {
    font-variant: all-small-caps;
    font-weight: normal;
}

a[aria-disabled=true] {
    color: grey;
}

a[aria-disabled=true]:hover {
    color: grey;
}

p {
    line-height: 1.45;
    margin: 1em 0;
}

.aside {
    color: var(--nearly-nearly-black);
}

.aside.long {
    border: 1px solid var(--light-green);
    border-width: 1px 0;
}

/* Definitions produced by the `def` macro. */
dfn>a {
    font-style: normal;
    font-weight: bold;
    color: #185ecc;
    text-decoration: unset;
}

dfn>a:hover {
    color: #185ecc;
}

/* Inline normative content, produced by the `normative` macro. */
span.normative {
    padding: 0 1ch;
    background: radial-gradient(ellipse, rgb(210, 255, 143), #f2f2f2);
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 11px;
    box-decoration-break: clone;
}

/* A normative paragraph, produced by the `pnormative` macro. */
/* p.normative {
    border-left: var(--green) 8px solid;
    padding-left: 1rem;
    margin-left: calc(-1rem - 8px);
    background: linear-gradient(to right, #e0ffd5, #fff);
} */

/* An informative paragraph, produced by the `pinformative` macro. */
p.normative {
    border-left: #0979c4 8px solid;
    padding-left: 1rem;
    margin-left: calc(-1rem - 8px);
    background: linear-gradient(to right, #e3f3ff, #fff 16%);
}

code, a.ref.type, a.ref.member, a.ref.variant {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 0.8em;
    background: rgba(0, 0, 0, 0.03);
    padding: 0.2em;
    border-radius: 10%;
    word-break: break-word;
    text-decoration: inherit;
}

a.ref.def, dfn > a.def {
    background: radial-gradient(ellipse, rgb(226, 253, 152),rgb(160, 158, 20));
}

a.ref.param, dfn > a.param {
    background: radial-gradient(ellipse, rgb(221, 152, 253),rgb(160, 20, 20));
}

a.ref.value, dfn > a.value {
    background: radial-gradient(ellipse, rgb(152, 253, 211),rgb(20, 85, 160));
}

/* since `important` is evil... */
body .katex {
    font-size: inherit;
    line-height: inherit;
}